#gameCanvas{

width:100%;
max-width:600px;
height:400px;

background:#1b5e20;

border-radius:15px;
box-shadow:0 0 20px rgba(255,140,0,0.6);

margin-bottom:20px;

}

#result{

font-size:30px;
color:white;
text-shadow:0 0 10px orange;

}
